main > div {
    width: fit-content;
    margin: auto;
}

.prettyprint {
    padding: 1rem !important;
    background-color: #1e1e1e;
    border: none !important;
}

.prettyprint .pln {
    color: #9cdcfa;
}

.prettyprint .typ {
    color: #49c9a9;
}

.prettyprint .kwd {
    color: #4e9cd2;
}

.prettyprint .str {
    color: #c88568;
}

.prettyprint .pun {
    color: #dcdcd6;
}

.prettyprint .lit {
    color: #9dcea8;
}

.prettyprint .com {
    color: #53a64a;
}

.prettyprint .for .kwd  {
    color: #d89fd1;
}

.prettyprint .var .typ  {
    color: #559cd5;
}